.advisors-component {
  min-height: 658px;
  background: linear-gradient(180deg, #1F1F1F 0%, #000000 100%);

  @extend .global-padding-left-right;

  &--subtitle {
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: $FONT_WEIGHT_XXNORMAL;
    font-size: $FONT_SIZE_XXXNORMAL;
    letter-spacing: 1px;

    @include mobile {
      margin-top: 30px;
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
    }
  }

  &--persons {
    margin-top: 80px;
    @extend .team-padding-left-right;

    @include mobile {
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
