.backed-by-component {
  background-color: $COLOR_BLACK;
  min-height: 665px;

  @extend .global-padding-left-right;

  @include mobile {
    min-height: 400px;
  }

  &--title-row {
    margin-top: 100px;
  }

  &--logo-column {
    @include tablet {
      margin-top: 20px;
      flex-basis: 40%;
    }
  }

  &--logo-row {
    margin-top: 100px;
    align-items: center;
    @include mobile {
      margin-top: 70px;
      flex-direction: column;
    }

    a {
      display: flex;
      cursor: pointer;
      pointer-events: auto;
    }
  }

  &--logo {
    height: 50px !important;
    margin: 40px;
    margin-bottom: 100px;
    img {
      height: 50px !important;
      width: auto;
    }

    @include mobile {
      margin-bottom: 70px;
      height: 30px !important;
      img {
        height: 30px !important;
      }
    }
  }
}
