.core-team-component {
  min-height: 400px;
  background: $COLOR_BLACK;

  @extend .global-padding-left-right;

  @include mobile {
    min-height: 700px;
  }

  &--title-row {
    margin-top: 100px;

    @include mobile {
      flex-flow: column;
    }
  }

  &--title-column {
    width: 30%;
    @include mobile {
      width: 100%;
    }
  }

  &--persons-column {
    width: 70%;
  }

  &--who-we-are {
    display: flex;
    margin-top: 20px;

    &--line {
      transform: translateY(-5px);
      margin-right: $UNIT * 2;
    }
  }

  &--persons {
    flex-flow: row;
    justify-content: space-between;

    @include mobile {
      flex-flow: column;
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
