.cta-component {
  background: var(--color-black);
  min-height: 300px;
  color: $COLOR_BLACK;

  @extend .global-padding-left-right;

  @include mobile {
    min-height: 270px;
  }

  &--row {
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--title {
    font-size: $FONT_SIZE_MLARGE;
    font-weight: $FONT_WEIGHT_XNORMAL;
    line-height: $LINE_HEIGHT_LARGE;
    margin-top: 48px;
    color: var(--font-default-color);

    @include mobile {
      font-size: $FONT_SIZE_XXNORMAL;
      line-height: $LINE_HEIGHT_SSNORMAL;
      font-weight: $FONT_WEIGHT_XXNORMAL;
      letter-spacing: 1px;
    }
  }

  &--button {
    width: $BUTTON_WIDTH_NORMAL;
    margin-right: 20px;
    margin-bottom: 54px;

    @include mobile {
      margin-top: $UNIT * 2;
      margin-right: 0;
    }

    &--investor {
      background-color: $COLOR_BLACK;
      color: $COLOR_WHITE;
      width: 200px;
      border-radius: $BORDER_RADIUS;

      @include mobile {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 10px;
      }
    }

    &--borrower {
      border: 1px solid black;
      background-color: $COLOR_WHITE;
      color: $COLOR_BLACK;
      width: 230px;
      border-radius: $BORDER_RADIUS;

      @include mobile {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}
