.cta-component {
  background: $COLOR_BLACK;
  min-height: 321px;

  @extend .global-padding-left-right;

  &--row {
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--title {
    font-size: $FONT_SIZE_SLARGE;
    font-weight: $FONT_WEIGHT_XNORMAL;
    line-height: $LINE_HEIGHT_LARGE;
    max-width: 340px;

    @include tablet {
      font-size: $FONT_SIZE_XXXNORMAL;
      line-height: $LINE_HEIGHT_SNORMAL;
      font-weight: $FONT_WEIGHT_XXNORMAL;
      letter-spacing: 1px;
    }

    @include mobile {
      font-size: $FONT_SIZE_XNORMAL;
      line-height: $LINE_HEIGHT_SMALL;
      font-weight: $FONT_WEIGHT_XXNORMAL;
      letter-spacing: 1px;
    }
  }

  &--text {
    font-size: $FONT_SIZE_XNORMAL;
    font-weight: $FONT_WEIGHT_NORMAL;
    font-family: $FONT_FAMILY_SECOND;
    line-height: $LINE_HEIGHT_SNORMAL;
    max-width: 340px;

    @include tablet {
      font-size: $FONT_SIZE_NORMAL;
      line-height: $LINE_HEIGHT_SMALL;
    }

    @include mobile {
      margin-top: $UNIT * 2;
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
    }
  }

  &--button.MuiButton-root {
    width: $BUTTON_WIDTH_NORMAL;

    @include mobile {
      margin-top: $UNIT * 2;
    }
  }
}
