.faq-component {
  min-height: 685px;
  padding-top: $UNIT * 3;
  background: linear-gradient(180deg, #1F1F1F 0%, #000000 100%);

  &--row {
    margin-top: $UNIT * 5;
    max-width: 750px;
    flex-flow: row;
    z-index: $Z_INDEX_NORMAL;

    &--title {
      align-self: flex-start;
      padding-left: $GLOBAL_PADDING_LEFT;
      padding-right: $GLOBAL_PADDING_RIGHT;

      @include mobile {
        padding-left: $GLOBAL_PADDING_MOBILE_LEFT;
        padding-right: $GLOBAL_PADDING_MOBILE_RIGHT;
      }
    }

    &--accordion {
      justify-content: center;
      margin-top: $UNIT * 5;
    }
  }

  &--accordion {
    background-color: rgba(0, 0, 0, 0);
    width: 555px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);

    &--title{
      color: $COLOR_WHITE;
      font-size: $FONT_SIZE_NORMAL;
      font-family: $FONT_FAMILY_SECOND;
      line-height: $LINE_HEIGHT_SMALL;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &--text {
      font-family: $FONT_FAMILY_SECOND;
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_XSMALL;
      color: $COLOR_WHITE;
    }

    &--icon {
      color: $COLOR_WHITE;
    }
  }
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin-bottom: 0;
}
