.footer-component {
  min-height: 384px;
  background-color: $COLOR_FOOTER_BACKGROUND;

  @extend .global-padding-left-right;

  @include mobile {
    min-height: 750px;
  }

  &--padding {
    padding: $UNIT * 3;
  }

  &--row {
    margin-top: 30px;

    @include mobile {
      flex-direction: column;
    }
  }

  &--column {
    border-right: 1px solid rgba(240, 240, 240, 0.35);
    border-top: 1px solid rgba(240, 240, 240, 0.35);
    border-bottom: 1px solid rgba(240, 240, 240, 0.35);
    width: 33%;
    height: 320px;

    &:first-child {
      border-left: 1px solid rgba(240, 240, 240, 0.35);
    }

    @include mobile {
      border-top: 0;
      border-left: 1px solid rgba(240, 240, 240, 0.35);
      width: 100%;
      height: 220px;

      &:first-child {
        border-top: 1px solid rgba(240, 240, 240, 0.35);
      }
    }
  }

  &--logo {
    @extend .footer-component--padding;
  }

  &--footer {
    @extend .footer-component--padding;
    margin-top: auto;
    justify-content: flex-start;

    &--link {
      font-family: $FONT_FAMILY_SECOND;
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
      cursor: pointer;
      margin-bottom: $UNIT * 2;

      @include mobile {
        margin-bottom: $UNIT;
      }
    }

    &--typeform {
      background-color: initial;
      border: 0;
      color: $FONT_DEFAULT_COLOR;
      align-self: flex-start;
      padding: 0;
    }

    &--text {
      @extend .footer-component--padding;
      font-family: $FONT_FAMILY_SECOND;
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
    }
  }

  &--mailchimp-row {
    margin-top: auto;
    margin-bottom: 20px;
  }

  &--mailchimp-sub {
    display: flex;
    justify-content: center;
    input {
      width: 90%;
      height: 35px;
    }

    &--logo-row {
      display: flex;
      justify-content: flex-end;

      .footer-component--mailchimp-sub--logo{
        position: absolute;
        transform: translateY(12px) translateX(-35px);
      }
    }
  }
}
