.header-component {
  background-color: #1F1F1F;
  height: 20vh;

  @extend .global-padding-left-right;

  &--link {
    @extend .font-second;
    cursor: pointer;

    @include mobile {
      margin-bottom: $UNIT * 2;
    }

  }

  &--menu-button{
    align-self: center;
    margin-left: auto;
    cursor: pointer;
  }

  &--menu-close-button {
    margin-bottom: $UNIT * 2;
  }

  &--drawer {

    .MuiDrawer-paper {
      background-color: $COLOR_FOOTER_BACKGROUND;
    }

    &--links-column {
      color: white;
      margin: $UNIT * 3;
    }
  }
}

.header {
  margin-top: 43px;
  width: 100%;
  z-index: $Z_INDEX_NORMAL;

  @include mobile {
    margin-top: 30px;
  }

  &--links {
    width: 500px;
    font-weight: $FONT_WEIGHT_XNORMAL;
    font-size: $FONT_SIZE_NORMAL;

    @include mobile {
      width: 100px;
    }

    &--button.MuiButton-root {
      width: $BUTTON_WIDTH_NORMAL;
    }
  }
}
