.home-component {
  background: linear-gradient(180deg, #1F1F1F 0%, #1F1F1F 43.43%, #000000 100%);
  min-height: 709px;

  @extend .global-padding-left-right;

  @include mobile {
    min-height: 400px;
  }

  &--background-shape {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-10px);
    z-index: $Z_INDEX_BACKGROUND_SHAPE;

    @include mobile {
      transform: scale(.7);
      transform-origin: top right;
    }
  }
}


.cta-block {
  margin-top: 88px;
  z-index: $Z_INDEX_NORMAL;

  &--title {
    font-size: $FONT_SIZE_XLARGE;
    font-weight: bold;
    line-height: $LINE_HEIGHT_XXLARGE;
    color: $FONT_SECOND_COLOR;

    @include mobile {
      font-size: $FONT_SIZE_XSLARGE;
      line-height: $LINE_HEIGHT_XNORMAL;
    }
  }

  &--text {
    max-width: 556px;
    font-size: $FONT_SIZE_XNORMAL;
    font-weight: $FONT_WEIGHT_NORMAL;
    line-height: $LINE_HEIGHT_NORMAL;

    @extend .font-second;
    @extend .h-margin-top;

    @include mobile {
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
    }
  }

  &--button.MuiButton-root {
    width: $BUTTON_WIDTH_NORMAL;

    @extend .h-margin-top--triple;
  }
}
