.home-component {
  background: linear-gradient(180deg, #1F1F1F 0%, #1F1F1F 43.43%, #000000 100%);
  height: 709px;
  padding-left: 90px;
  padding-right: 90px;
}

.header {
  margin-top: 43px;
  width: 100%;

  &-links {
    width: 400px;

    Button {
      background-color: $COLOR_WHITE;
      color: $COLOR_BLACK;
      height: $BUTTON_HEIGHT;
    }
  }
}
