.marquee-container {
  height: 30px;
  color: black;

  @include mobile {
    height: 25px;
  }
}

.marquee {

  font-family: $FONT_FAMILY_SECOND;
  font-size: $FONT_SIZE_XXNORMAL;
  justify-content: space-evenly;

  @include mobile {
    font-size: $FONT_SIZE_NORMAL;
  }
}
