.parallax-component {
  height: 1000px;
  background: linear-gradient(#000000 100%, #1F1F1F 0%);
  overflow-y: hidden;
  @extend .global-padding-left-right;


  &--wrapper{
    height: 400px;
    overflow: hidden;
    padding-top: 50px;
  }


  &--child-scroll {
    height: fit-content;
    width: 45%;
    margin: 50px 0 100px;

    &--title {
      font-size: $FONT_SIZE_SLARGE;
      font-weight: $FONT_WEIGHT_XNORMAL;
      line-height: $LINE_HEIGHT_LARGE;
    }

    &--button {
      width: $BUTTON_WIDTH_LARGE;
      border-radius: $BORDER_RADIUS;
    }
  }

  &--image-scroll {
    height: 150px;
    width: 30%;
    margin: 50px 0 100px auto;
    position: relative;
  }

  &--image-overlap {
    position: absolute;
  }
}
