.parallax-component-item {
	width: 30vw;
	margin-bottom: 50px;

	@include mobile {
		width: 100%;
	}
}

.parallax-component {
	padding-top: 100px;
	height: 500px;
	background: var(--color-background-home);
	// overflow-y: hidden;
	color: var(--font-default-color);
	// display: flex;
	// flex-direction: row !important;

	@extend .global-padding-left-right;

	@include mobile {
		height: initial;
		padding-top: 0;
		// padding-bottom: 175px;
	}

	&--wrapper {
		height: 700px;
		// overflow: hidden;
		width: 100%;
		padding-top: 0px;
		flex-direction: row !important;
	}

	&--spacing {
		margin-bottom: 170px;
	}

	&--child-scroll {
		height: fit-content;
		width: 100%;
		margin: 50px 0 100px;
		flex-direction: row !important;
		justify-content: space-between;

		&--title {
			font-size: $FONT_SIZE_SLARGE;
			font-weight: $FONT_WEIGHT_XNORMAL;
			line-height: $LINE_HEIGHT_LARGE;

			@include mobile {
				font-size: $FONT_SIZE_XXXNORMAL;
				font-weight: $FONT_WEIGHT_XXNORMAL;
				line-height: $LINE_HEIGHT_LARGE;
				margin-top: 48px;
			}
		}

		&--text {
			font-family: $FONT_FAMILY_SECOND;
			margin-top: 10px;

			@include mobile {
				font-size: $FONT_SIZE_NORMAL;
				font-weight: $FONT_WEIGHT_NORMAL;
				line-height: $LINE_HEIGHT_SSNORMAL;
				margin-top: 24px;
			}
		}

		&--cta-link {
			@extend .cta-component-investors--text--cta-link;

			@include mobile {
				padding-bottom: 0 !important;
				margin-bottom: 20px !important;
			}
		}

		&--button {
			width: $BUTTON_WIDTH_LARGE;
			border-radius: $BORDER_RADIUS;
		}
	}

	&--image-scroll {
		height: 150px;
		width: 30%;
		margin: 100px 0 100px auto;
		position: relative;
	}

	&--image-overlap {
		position: absolute;
	}
}
