.platform-component {
  background: linear-gradient(180deg, #1F1F1F 0%, #000000 100%);
  min-height: 880px;

  @extend .global-padding-left-right;

  &--about-row {
    margin-top: 120px;
  }

  &--about-text {
    font-weight: $FONT_WEIGHT_BOLD;
    font-size: $FONT_SIZE_SMALL;
    text-transform: uppercase;
    font-family: $FONT_FAMILY_SECOND;
  }

  &--text {
    margin-top: $UNIT * 3;
    max-width: 842px;
    @extend .small-text;

    @include mobile {
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
      letter-spacing: -.5px;
    }
  }

  &--items-row {
    margin-top: 100px;
    background-color: $COLOR_GREY_BACKGROUND;
    height: auto;

    @include tablet {
      flex-flow: row;
    }

    @include mobile {
      margin-top: 50px;
      background-color: initial;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
  }

  &--item-column {
    text-align: center;
    align-items: center;
    width: 296px;
    height: 260px;
    margin: 56px;

    @include tablet {
      height: auto;
      margin: 20px;
      justify-content: space-between;
    }

    @include mobile {
      margin: 0 0 $UNIT * 3;
      padding: $UNIT * 3;
      height: auto;
      background-color: $COLOR_GREY_BACKGROUND;
    }
  }

  &--item-title {
    font-weight: $FONT_WEIGHT_BOLD;
    font-size: $FONT_SIZE_XXXNORMAL;
    line-height: $LINE_HEIGHT_LARGE;
    font-family: $FONT-FAMILY_SECOND;

    @include mobile {
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
      text-transform: uppercase;
    }
  }

  &--item-text {
    @extend .h-margin-top;
    @extend .small-text;

    @include mobile {
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
      letter-spacing: -.5px;
    }
  }

  &--item-button {
    @extend .h-margin-top--auto;
    @extend .h-full-width;

    @include tablet {
      margin-top: $UNIT * 2;
    }

    @include mobile {
      margin-top: $UNIT * 3;
    }
  }
}
