.quotes-component {
  min-height: 710px;
  background: $COLOR_BLACK;
  padding-top: 212px;

  @extend .global-padding-left-right;

  &--background-shape-a55{
    width: 140px;
    height: 60px;
    margin-bottom: 48px;
    margin-left: 20px;
  }

  &--background-shape-tecredi{
    width: 170px;
    height: 50px;
    margin-bottom: 48px;
    margin-left: 20px;
  }

  &--background-shape-quotation-start{
    position: relative;
    width: 40px;
    height: 30px;
    top: -20px;
    left: 380px;
  }

  &--background-shape-quotation-end{
    position: relative;
    width: 40px;
    height: 30px;
    bottom: 30px;
    left: 500px;
  }

  &--title {
    font-weight: $FONT_WEIGHT_XXNORMAL;
    font-size: 32px;
    line-height: $LINE_HEIGHT_XNORMAL;
    padding-left: 20px;
  }

  &--text-row {
    margin-top: 90px;

    @include tablet {
      flex-direction: column;
    }
  }

  &--right-text {
    max-width: 572px;
    font-family: $FONT_FAMILY;
    font-weight: $FONT_WEIGHT_NORMAL;
    font-style: italic;
    font-size: $FONT_SIZE_XXNORMAL;
    line-height: 32px;

    &--cited-person {
      font-family: $FONT_FAMILY_SECOND;
      font-weight: $FONT_WEIGHT_XXNORMAL;
      font-size: $FONT_SIZE_XXXNORMAL;
      line-height: 38px;
      color: $COLOR_WHITE;
      opacity: 0.6;
      text-transform: uppercase;
      margin-top: 46px;
    }

    @include tablet {
      margin-top: $UNIT * 3;
    }

    @include mobile {
      margin-top: $UNIT * 3;
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
      letter-spacing: -.5px;
    }
  }
}
