.vision-component {
  min-height: 1038px;
  background: var(--color-background-our-vision);
  padding-top: 53px;

  @extend .global-padding-left-right;

  &--text-row {
    margin-top: 90px;

    @include tablet {
      flex-direction: column;
    }
  }

  &--left-text {
    max-width: 490px;
    font-family: $FONT_FAMILY_SECOND;
    font-weight: $FONT_WEIGHT_XNORMAL;
    font-size: $FONT_SIZE_XXXNORMAL;
    line-height: $LINE_HEIGHT_NORMAL;
    color: var(--font-default-color);

    @include mobile {
      font-size: $FONT_SIZE_NORMAL;
      line-height: $LINE_HEIGHT_SMALL;
    }
  }

  &--right-text {
    max-width: 592px;
    font-family: $FONT_FAMILY_SECOND;
    line-height: $LINE_HEIGHT_SNORMAL;
    color: var(--font-default-color);

    @include tablet {
      margin-top: $UNIT * 3;
    }

    @include mobile {
      margin-top: $UNIT * 3;
      font-size: $FONT_SIZE_SMALL;
      line-height: $LINE_HEIGHT_SMALL;
      letter-spacing: -.5px;
    }
  }

  &--subtitle {
    margin-top: 200px;
    text-transform: uppercase;
    font-weight: $FONT_WEIGHT_XXNORMAL;
    font-size: $FONT_SIZE_XXXNORMAL;
    letter-spacing: 1px;
    color: var(--font-default-color);

    @include tablet {
      margin-top: 150px;
    }

    @include mobile {
      margin-top: 100px;
    }
  }

  &--roadmap-shapes {
    margin-top: 70px;

    @include tablet {
      flex-flow: row;
    }

    @include mobile {
      flex-flow: column;
    }
  }

  &--roadmap-shape-column {

    @include mobile {
      flex-flow: row;
      align-self: flex-start;
      margin-left: initial;
      margin-top: - $UNIT * 4;
    }
  }

  &--roadmap-shape {
    transform: translateY(10px);
    width: 146px;
    filter: var(--color-image-filter);

    @include mobile {
      transform: scale(.7);
    }

    &--text {
      text-transform: uppercase;
      font-size: $FONT_SIZE_SMALL;
      font-family: $FONT_FAMILY_SECOND;
      line-height: $LINE_HEIGHT_SMALL;
      letter-spacing: 1px;
      font-weight: $FONT_WEIGHT_BOLD;
      text-align: center;
      color: var(--font-default-color);

      @include tablet {
        text-align: left;
      }
    }
  }
}
