@import "variables";

* {
  outline: none;
}

body {
  color: $FONT_DEFAULT_COLOR;
  font-family: $FONT_FAMILY;
  font-weight: $FONT_WEIGHT_NORMAL;
  font-size: $FONT_SIZE_NORMAL;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

.font-second {
  font-family: $FONT_FAMILY_SECOND;
  font-style: normal;
}

.global-padding-left-right {
  padding-left: $GLOBAL_PADDING_LEFT;
  padding-right: $GLOBAL_PADDING_RIGHT;
}

.credix-button {
  background-color: $COLOR_WHITE;
  color: $COLOR_BLACK;
  height: $BUTTON_HEIGHT;
  border-radius: 0;
  text-transform: none;

  &:hover{
    background-color: $COLOR_WHITE;
  }

  @extend .font-second;
}

.sub-title {
  font-weight: $FONT_WEIGHT_BOLD;
  font-size: $FONT_SIZE_LARGE;
}

.small-text {
  font-size: $FONT_SIZE_NORMAL;
  font-family: $FONT_FAMILY_SECOND;
  line-height: $LINE_HEIGHT_SNORMAL;
}
