.gradient-red {
	width: 27vw;
	height: 27vw;
	margin-bottom: 50px;
	overflow: hidden;
	background-color: #f52330;

	@include mobile {
		width: 80vw;
		height: 80vw;
	}
}

.gradient-blue {
	width: 27vw;
	height: 27vw;
	margin-bottom: 50px;
	overflow: hidden;
	background-color: #2777f5;

	@include mobile {
		width: 80vw;
		height: 80vw;
	}
}

.gradient {
	width: 24vw;
	height: 24vw;
	overflow: hidden;

	@include mobile {
		width: 30vh;
		height: 30vh;
		margin-bottom: 50px;
	}
}
