@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Poppins:wght@500;700&display=swap");

/**
* Fonts
 */
$FONT_FAMILY: Poppins, "Open Sans", sans-serif;
$FONT_FAMILY_SECOND: "IBM Plex Mono", monospace;

/**
* Colors
 */
$COLOR_BLACK: #000;
$COLOR_WHITE: #fff;
$COLOR_GREY_BACKGROUND: #0B0B0B;
$COLOR_FOOTER_BACKGROUND: #000;
$COLOR_BLUE: #0046FA;
$COLOR_ORANGE: #F8BB00;


.dark {
  /**
  * Fonts Colors
  */
  --font-default-color: #f0f0f0;
  --font-second-color: #FFF;

  /**
  * Colors
  */
  --color-black: #000;
  --color-white: #FFF;
  --color-grey-background: #18191B;
  --color-footer-background: #050505;

  /**
  * Backgrounds
  */
  --color-background-header: #000;
  --color-background-home: #000;
  --color-background-cta-team: #000;
  --color-background-core-team: #000;
  --color-background-advisors: #000;
  --color-background-backers-borrowers: #0B0B0B;
  --color-background-mobile: initial;

  /**
  * Borders
   */
  --color-background-cta-team-border: white;

  /**
  * box shadow
   */
  --box-shadow-mobile: initial;

  /**
  * header font bold
   */

  --header-text-mobile-bold: initial;

  /**
  * images
   */
  --color-image-filter: invert(0%);

  /**
  * Footer borders
   */

  --color-footer-border: 1px solid white;
}

.light {
  /**
  * Fonts Colors
  */
  --font-default-color: #202020;
  --font-second-color: #000;

  /**
  * Colors
  */
  --color-black: #fff;
  --color-white: #000;
  --color-grey-background: #f1f1f1;
  --color-footer-background: #FFF;

  /**
  * Backgrounds
  */
  --color-background-header: #f6f6f6;
  --color-background-home: #f6f6f6;
  --color-background-cta-team: #f6f6f6;
  --color-background-core-team: #f6f6f6;
  --color-background-advisors: #f6f6f6;
  --color-background-backers-borrowers: #FFF;
  --color-background-mobile: rgba(255, 255, 255, 0.8);

  /**
* Borders
 */
  --color-background-cta-team-border: #0B0B0B;

  /**
  * box shadow
   */
  --box-shadow-mobile: 0 0 20px 10px rgba(255, 255, 255, 0.8);

  /**
  * header font bold
   */
  --header-text-mobile-bold: 700;


  /**
  * images
  */
  --color-image-filter: invert(100%);

  /**
  * Footer borders
  */
  --color-footer-border: 1px solid rgba(0, 0, 0);
}

/**
* Fonts Sizes
 */
$FONT_SIZE_XLARGE: 70px;
$FONT_SIZE_LARGE: 55px;
$FONT_SIZE_MLARGE: 40px;
$FONT_SIZE_SLARGE: 36px;
$FONT_SIZE_XSLARGE: 32px;
$FONT_SIZE_XXXNORMAL: 24px;
$FONT_SIZE_XXNORMAL: 20px;
$FONT_SIZE_XNORMAL: 18px;
$FONT_SIZE_NORMAL: 16px;
$FONT_SIZE_SMALL: 13px;
$FONT_SIZE_XSMALL: 11px;

/**
* Font Weights
 */
$FONT_WEIGHT_SMALL: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_XNORMAL: 500;
$FONT_WEIGHT_XXNORMAL: 600;
$FONT_WEIGHT_BOLD: 700;

/**
* Line Heights
 */
$LINE_HEIGHT_XXSMALL: 14px;
$LINE_HEIGHT_XSMALL: 17px;
$LINE_HEIGHT_SMALL: 20px;
$LINE_HEIGHT_SSNORMAL: 25px;
$LINE_HEIGHT_SNORMAL: 28px;
$LINE_HEIGHT_NORMAL: 30px;
$LINE_HEIGHT_XNORMAL: 36px;
$LINE_HEIGHT_LARGE: 42px;
$LINE_HEIGHT_XLARGE: 60px;
$LINE_HEIGHT_XXLARGE: 80px;

/**
* UI Elements
 */
$UNIT: 10px;
$BUTTON_HEIGHT: 50px;
$BUTTON_WIDTH_NORMAL: 160px;
$BUTTON_WIDTH_LARGE: 300px;
$GLOBAL_PADDING_LEFT: 10%;
$GLOBAL_PADDING_RIGHT: 10%;
//$GLOBAL_PADDING_RIGHT: 168px;
$GLOBAL_PADDING_MOBILE_RIGHT: 30px;
$GLOBAL_PADDING_MOBILE_LEFT: 30px;
$BORDER_RADIUS: 4px;

/**
* Z Index
 */
$Z_INDEX_ARROW: 110;
$Z_INDEX_NORMAL: 100;
$Z_INDEX_BACKGROUND_SHAPE: 90;

/**
* Media Query
 */
$MOBILE_WIDTH: 900px;
$TABLET_WIDTH: 1500px;
