@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600&display=swap');

/**
* Fonts
 */
$FONT_FAMILY: Poppins, 'Open Sans', sans-serif;
$FONT_FAMILY_SECOND: 'IBM Plex Mono', monospace;


/**
* Fonts Colors
 */
$FONT_DEFAULT_COLOR: #fff;

/**
* Fonts Sizes
 */
$FONT_SIZE_NORMAL: 16px;
$FONT_SIZE_XLARGE: 70px;
$FONT_SIZE_LARGE: 55px;

/**
* Colors
 */
$COLOR_BLACK: #000;
$COLOR_WHITE: #fff;

/**
* UI Elements
 */
$BUTTON_HEIGHT: 50px
