@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Poppins:wght@500;700&display=swap");

/**
* Fonts
 */
$FONT_FAMILY: Poppins, "Open Sans", sans-serif;
$FONT_FAMILY_SECOND: "IBM Plex Mono", monospace;

/**
* Fonts Colors
 */
$FONT_DEFAULT_COLOR: #f0f0f0;
$FONT_SECOND_COLOR: #fff;

/**
* Fonts Sizes
 */
$FONT_SIZE_XLARGE: 70px;
$FONT_SIZE_LARGE: 55px;
$FONT_SIZE_SLARGE: 36px;
$FONT_SIZE_XSLARGE: 30px;
$FONT_SIZE_XXXNORMAL: 24px;
$FONT_SIZE_XXNORMAL: 20px;
$FONT_SIZE_XNORMAL: 18px;
$FONT_SIZE_NORMAL: 16px;
$FONT_SIZE_SMALL: 13px;
$FONT_SIZE_XSMALL: 11px;

/**
* Font Weights
 */
$FONT_WEIGHT_SMALL: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_XNORMAL: 500;
$FONT_WEIGHT_XXNORMAL: 600;
$FONT_WEIGHT_BOLD: 700;

/**
* Line Heights
 */
$LINE_HEIGHT_XXSMALL: 14px;
$LINE_HEIGHT_XSMALL: 17px;
$LINE_HEIGHT_SMALL: 20px;
$LINE_HEIGHT_SSNORMAL: 25px;
$LINE_HEIGHT_SNORMAL: 28px;
$LINE_HEIGHT_NORMAL: 30px;
$LINE_HEIGHT_XNORMAL: 36px;
$LINE_HEIGHT_LARGE: 42px;
$LINE_HEIGHT_XLARGE: 60px;
$LINE_HEIGHT_XXLARGE: 80px;

/**
* Colors
 */
$COLOR_BLACK: #000;
$COLOR_WHITE: #fff;
$COLOR_GREY_BACKGROUND: #18191b;
$COLOR_FOOTER_BACKGROUND: #000;

/**
* UI Elements
 */
$UNIT: 10px;
$BUTTON_HEIGHT: 50px;
$BUTTON_WIDTH_NORMAL: 160px;
$BUTTON_WIDTH_LARGE: 300px;
$GLOBAL_PADDING_LEFT: 90px;
$GLOBAL_PADDING_RIGHT: 90px;
$GLOBAL_PADDING_MOBILE_RIGHT: 30px;
$GLOBAL_PADDING_MOBILE_LEFT: 30px;
$BORDER_RADIUS: 4px;

/**
* Z Index
 */
$Z_INDEX_ARROW: 110;
$Z_INDEX_NORMAL: 100;
$Z_INDEX_BACKGROUND_SHAPE: 90;

/**
* Media Query
 */
$MOBILE_WIDTH: 900px;
$TABLET_WIDTH: 1500px;
